name: Docker Build and Push
on:
    push:
        branches:
            - master
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name : checkout code
              uses: actions/checkout@v6
            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build and Push Docker Image
              uses: docker/build-push-action@v5
              with:
                    context: .
                    push: true
                    tags: ${{ secrets.DOCKER_USERNAME }}/resume-site:latest