name: Docker Build and Push
on:
    push:
        branches:
            - master
    workflow_dispatch:
env:
    DOCKER_BUILDKIT: Hello This is Output
    NEXT: Environment Variable Test
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name : checkout code
              uses: actions/checkout@v6
            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build and Push Docker Image
              uses: docker/build-push-action@v5
              with:
                    context: .
                    push: true
                    tags: ${{ secrets.DOCKER_USERNAME }}/resume-site:latest
    
    deploy:
        needs: build
        runs-on: self-hosted
        steps:
            - name: checkout code
              uses: actions/checkout@v6
            - name: Update K8s Deployment
              run: |
                  kubectl rollout restart deployment/resume-website-deployment
            - name: Verfy Deployment
              run: |
                  kubectl rollout status deployment/resume-website-deployment